appdirs
APScheduler
argon2-cffi
asgiref
attrs
Authlib
Automat
backcall
backports.entry-points-selectable
beautifulsoup4
bleach
blinker
boto3
botocore
Brotli
bs4
cachelib
cachetools
certifi
cffi
charset-normalizer
click
colorama
constantly
cryptography
cs50
cssselect
cycler
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
debugpy
decorator
defusedxml
distlib
Django
django-filter
djangorestframework
entrypoints
et-xmlfile
filelock
Flask
Flask-Compress
Flask-Dance
Flask-Ext
Flask-GoogleLogin
Flask-Login
Flask-Mail
flask-ngrok
flask-paginate
Flask-Session
Flask-SQLAlchemy
Flask-SSLify
Flask-WTF
future
gevent
gevent-websocket
greenlet
gunicorn
h2
hpack
html-parser
html5lib
HTMLParser
hyperframe
hyperlink
idna
incremental
ipykernel
ipython
ipython-genutils
ipywidgets
itemadapter
itemloaders
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonfield
jsonify
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
MouseInfo
mysql
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
openpyxl
packaging
pandas
pandocfilters
parsel
parso
pickleshare
Pillow
platformdirs
plotly
ply
priority
prometheus-client
prompt-toolkit
Protego
psycopg2
pyaes
pyasn1
pyasn1-modules
PyAutoGUI
pycparser
PyDispatcher
PyGetWindow
Pygments
pymongo
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyRect
pyrsistent
PyScreeze
python-dateutil
python-telegram-bot
pytweening
pytz
pywinpty
pyzmq
queuelib
requests
requests-oauthlib
retrying
rsa
s3transfer
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
service-identity
six
sklearn
soupsieve
SQLAlchemy
sqlparse
telebot
telegram-send
Telethon
tenacity
termcolor
terminado
testpath
threadpoolctl
tornado
traitlets
Twisted
twisted-iocpsupport
typing-extensions
tzdata
tzlocal
unicode
urllib3
URLObject
virtualenv
w3lib
wcwidth
webencodings
Werkzeug
widgetsnbextension
WTForms
xgboost
xlrd
zope.event
zope.interface
