<!doctype html>
<head>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js" type="text/javascript"></script>

        <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-stock.min.js" type="text/javascript"></script>


    <script>
      anychart.onDocumentLoad(function () {

        $.ajax({
          url: "http://localhost:8000/getChart2Data",
          type: 'GET',
          headers: {
              "Content-Type": "application/json"
          },
          success: function (data) {
            debugger
             var table, mapping, chart;
    var table = anychart.data.table('x');
    table.addData(data);
             var mapping = table.mapAs({'value':'volume', 'stroke': 'stroke'});
    // defining the chart type
    chart = anychart.stock();
      
    // set the series type
    chart.plot(0).column(mapping).name('ACME Corp.');
      
    // setting the chart title
    chart.title('AnyStock Demo');
    grouping = chart.grouping();

    // set the levels of grouping
    grouping.levels([
        {unit: 'day', count: 15},
    ]);
    // display the chart      
    var line = chart.lineMarker();
line.value(0);  
line.stroke("1 black");
    // chart.xScale().minimum(data[0].x);
    chart.container('chart02JNet');
    chart.draw();
          },
          contentType: 'application/json',
      });

      // $.ajax({
      //     url: "http://akatsuki-opvdata.com:8000/getChart2DataJnet",
      //     type: 'GET',
      //     headers: {
      //         "Content-Type": "application/json"
      //     },
      //     success: function (data) {
      //       var chart = anychart.column();
      //   // set the data
      //   chart.data(data);
      //   // set chart title
      //   chart.title("Chart 02 JNET");
      //   // chart.barGroupsPadding(20);
      //   chart.tooltip().background().fill("#663399");
      //   chart.xAxis().labels().rotation(90);
      //   var tooltip = chart.tooltip();
      //   tooltip.titleFormat("Call: {%x}");
      //   tooltip.format("");
      //   // set the container element 
      //   chart.container("chart02JNet");

      //   var line = chart.lineMarker();
      //   line.value(0);  
      //   line.stroke("1 black");
      //   // initiate chart display
      //   chart.draw();
      //     },
      //     contentType: 'application/json',
      // });
      // $.ajax({
      //     url: "http://akatsuki-opvdata.com:8000/getChart3Data",
      //     type: 'GET',
      //     headers: {
      //         "Content-Type": "application/json"
      //     },
      //     success: function (data) {
      //       var chart = anychart.column();
      //   // set the data
      //   chart.data(data);
      //   // set chart title
      //   chart.title("Chart 03");
      //   // chart.barGroupsPadding(20);
      //   chart.tooltip().background().fill("#663399");
      //   chart.xAxis().labels().rotation(90);
      //   var tooltip = chart.tooltip();
      //   tooltip.titleFormat("Call: {%x}");
      //   tooltip.format("");
      //   // set the container element 
      //   chart.container("chart03Day");
      //   // initiate chart display
      //   chart.draw();
      //     },
      //     contentType: 'application/json',
      // });

      // $.ajax({
      //     url: "http://akatsuki-opvdata.com:8000/getChart3DataJnet",
      //     type: 'GET',
      //     headers: {
      //         "Content-Type": "application/json"
      //     },
      //     success: function (data) {
      //       var chart = anychart.column();
      //   // set the data
      //   chart.data(data);
      //   // set chart title
      //   chart.title("Chart 03 JNET");
      //   // chart.barGroupsPadding(20);
      //   chart.tooltip().background().fill("#663399");
      //   chart.xAxis().labels().rotation(90);
      //   var tooltip = chart.tooltip();
      //   tooltip.titleFormat("Call: {%x}");
      //   tooltip.format("");
      //   // set the container element 
      //   chart.container("chart03JNet");
      //   // initiate chart display
      //   chart.draw();
      //     },
      //     contentType: 'application/json',
      // });
      //  $.ajax({
      //     url: "http://akatsuki-opvdata.com:8000/getChart4Data",
      //     type: 'GET',
      //     headers: {
      //         "Content-Type": "application/json"
      //     },
      //     success: function (data) {
      //       var chart = anychart.column();
      //   // set the data
      //   chart.data(data);
      //   // set chart title
      //   chart.title("Chart 04");
      //   // chart.barGroupsPadding(20);
      //   chart.tooltip().background().fill("#663399");
      //   chart.xAxis().labels().rotation(90);
      //   var tooltip = chart.tooltip();
      //   tooltip.titleFormat("Call: {%x}");
      //   tooltip.format("");
      //   // set the container element 
      //   chart.container("chart04Day");
      //   // initiate chart display
      //   chart.draw();
      //     },
      //     contentType: 'application/json',
      // });

      // $.ajax({
      //     url: "http://akatsuki-opvdata.com:8000/getChart4DataJnet",
      //     type: 'GET',
      //     headers: {
      //         "Content-Type": "application/json"
      //     },
      //     success: function (data) {
      //       var chart = anychart.column();
      //   // set the data
      //   chart.data(data);
      //   // set chart title
      //   chart.title("Chart 04 JNET");
      //   // chart.barGroupsPadding(20);
      //   chart.tooltip().background().fill("#663399");
      //   chart.xAxis().labels().rotation(90);
      //   var tooltip = chart.tooltip();
      //   tooltip.titleFormat("Call: {%x}");
      //   tooltip.format("");
      //   // set the container element 
      //   chart.container("chart04JNet");
      //   // initiate chart display
      //   chart.draw();
      //     },
      //     contentType: 'application/json',
      // });
        
      });
    </script>
</head>
<body>
    <div id="chart02Day" style="width: 70%; height: 500px;"></div>
    <div id="chart02JNet" style="width: 70%; height: 500px;"></div>
    <div id="chart03Day" style="width: 70%; height: 500px;"></div>
    <div id="chart03JNet" style="width: 70%; height: 500px;"></div>
    <div id="chart04Day" style="width: 70%; height: 500px;"></div>
    <div id="chart04JNet" style="width: 70%; height: 500px;"></div>
</body>
</html>