<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
window.onload = function () {
  $.get("http://akatsuki-opvdata.com:8000/getChart16Data", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart16Data",{
    title: {
        text: "Chart 16"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
    }
    stockChart.render();
  });
  //Chart 2 JNET
  $.get("http://akatsuki-opvdata.com:8000/getChart16DataJnet", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart16DataJnet",{
    title: {
        text: "Chart 16 JNET"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
      
    }
    
    stockChart.render();
  });
   $.get("http://akatsuki-opvdata.com:8000/getChart17Data", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart17Data",{
    title: {
        text: "Chart 17"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
    }
    stockChart.render();
  });
  //Chart 2 JNET
  $.get("http://akatsuki-opvdata.com:8000/getChart17DataJnet", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart17DataJnet",{
    title: {
        text: "Chart 17 JNET"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
      
    }
    
    stockChart.render();
  });
  $.get("http://akatsuki-opvdata.com:8000/getChart18Data", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart18Data",{
    title: {
        text: "Chart 18"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
    }
    stockChart.render();
  });
  //Chart 2 JNET
  $.get("http://akatsuki-opvdata.com:8000/getChart18DataJnet", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart18DataJnet",{
    title: {
        text: "Chart 18 JNET"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
      
    }
    
    stockChart.render();
  });
  $.get("http://akatsuki-opvdata.com:8000/getChart19Data", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart19Data",{
    title: {
        text: "Chart 19"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
    }
    stockChart.render();
  });
  //Chart 2 JNET
  $.get("http://akatsuki-opvdata.com:8000/getChart19DataJnet", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart19DataJnet",{
    title: {
        text: "Chart 19 JNET"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
      
    }
    
    stockChart.render();
  });
  $.get("http://akatsuki-opvdata.com:8000/getChart20Data", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart20Data",{
    title: {
        text: "Chart 20"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
    }
    stockChart.render();
  });
  //Chart 2 JNET
  $.get("http://akatsuki-opvdata.com:8000/getChart20DataJnet", function(data) {
    var dataPoints = [];
    var stockChart = new CanvasJS.StockChart("chart20DataJnet",{
    title: {
        text: "Chart 20 JNET"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
 },
    charts: [{
    toolTip:{
        shared: true,
        content: "Total: ${y}"
      },
      axisX: {
       minimum : new Date(2020, 11, 11),
      },      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 
    for(var i = 0; i < data.length; i++){
        
        dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
      
    }
    
    stockChart.render();
  });
}
</script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="chart16Data" style="height: 400px; width: 100%;"></div>
      </div>
      <div class="col-md-6">
        <div id="chart16DataJnet" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="chart17Data" style="height: 400px; width: 100%;"></div>
      </div>
      <div class="col-md-6">
        <div id="chart17DataJnet" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
     <div class="row">
      <div class="col-md-6">
        <div id="chart18Data" style="height: 400px; width: 100%;"></div>
      </div>
      <div class="col-md-6">
        <div id="chart18DataJnet" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="chart19Data" style="height: 400px; width: 100%;"></div>
      </div>
      <div class="col-md-6">
        <div id="chart19DataJnet" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="chart20Data" style="height: 400px; width: 100%;"></div>
      </div>
      <div class="col-md-6">
        <div id="chart20DataJnet" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
</body>
</html>