<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="日経225先物、オプションビジュアルデータ">
    <meta name="author" content="Akatsuki Investment Advisor">
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon" />
    <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>日経225先物、オプションビジュアルデータ</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/main.css' %}" rel="stylesheet">
    <style>
        nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.navbar-fixed-top.newClass {
            background: url(../static/assets/bg.png) center center / cover no-repeat fixed;
        }

        a.nav-link:hover {
            text-decoration: underline;
            color: #2cb8f5 !important;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">
        <div class="main-header-container wrapper navigationBorder">
            <a class="navbar-brand" href="/">
                <img class="logoImg" src="{% static 'assets/header-logo.png' %}" />
            </a>
            <p class="headingText">日経225先物 オプションビジュアルデータ</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">最新チャート</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'archive' %}">アーカイブス</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'company_profile' %}">会社概要</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'risk_description' %}">リスクに関する表記</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'disclaimer' %}">ディスクレーマー</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-info"><a href="{% url 'logout' %}">ログアウト</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="companyProfile">
            <div>
                <table class="profileTable">
                    <tr>
                        <td>会社名</td>
                        <td>株式会社暁投資顧問</td>
                    </tr>
                    <tr>
                        <td>設立</td>
                        <td>平成23年10月28日</td>
                    </tr>
                    <tr>
                        <td>所在地</td>
                        <td>〒343-0845 埼玉県越谷市南越谷2-14-41 サンキャッスル南越谷205号室</td>
                    </tr>
                    <tr>
                        <td>資本金</td>
                        <td>1000万円 </td>
                    </tr>
                    <tr>
                        <td>TEL：</td>
                        <td>048-999-6892</td>
                    </tr>

                    <tr>
                        <td>FAX：</td>
                        <td>048-999-6893</td>
                    </tr>
                    <tr>
                        <td>E-mail </td>
                        <td>info@akatsuki-toushi.com</td>
                    </tr>
                    <tr>
                        <td>登録番号</td>
                        <td> 金融商品取引業者　関東財務局長(金商)第2654号</td>
                    </tr>
                    <tr>
                        <td>協会番号</td>
                        <td>一般社団法人日本投資顧問業協会　会員番号　第012-02597号</td>
                    </tr>
                    <tr>
                        <td>事業内容 </td>
                        <td>投資助言・代理業</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="footer">
        <img src="{% static 'assets/header-logo.png' %}" />
        <p>Copyright © 2021 chart project</p>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="./static/vendor/jquery/jquery.min.js"></script>
    <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/main.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('.navbar').addClass('newClass');
            } else {
                $('.navbar').removeClass('newClass');
            }
        });
    </script>
</body>

</html>