<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="日経225先物、オプションビジュアルデータ">
    <meta name="author" content="Akatsuki Investment Advisor">
    <title>日経225先物、オプションビジュアルデータ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href='{% static "assets/main.css" %}'>
    <script src="{% static './assets/custom-script.js' %}"></script>
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon" />

    <style>
        .web_title {
            position: absolute;
            right: 29%;
            color: #fff;
            /* font-size: 15px; */
        }

        .web_title h3 {
            font-size: 22px;
        }

        .modal_large {
            max-width: 90%;
        }

        nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.navbar-fixed-top.newClass {
            background: url(../static/assets/bg.png) center center / cover no-repeat fixed;
        }

        a.nav-link:hover {
            text-decoration: underline;
            color: #2cb8f5 !important;
            font-weight: bolder;
        }
        #charts .js-plotly-plot {
            background: url(/static/assets/homeGrideBf.png) no-repeat;
            background-size: 90%;
            padding: 9px 10px 15px 8px;
            cursor: pointer;
            margin: 65px 0px 0px 0px;
        }
        div#charts {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        div#charts > div {
            flex: 0 0 50%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">
        <div class="main-header-container wrapper navigationBorder">
            <!-- <div class="header_text"> -->
            <a class="navbar-brand" href="/">
                <img class="logoImg" src="{% static './assets/header-logo.png' %}" />
            </a>
            <p class="logo_name">日経225先物 オプションビジュアルデータ</p>
            <!-- </div> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">最新チャート</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'archive' %}">アーカイブス</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'company_profile' %}">会社概要</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'risk_description' %}">リスクに関する表記</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'disclaimer' %}">ディスクレーマー</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-info"><a href="{% url 'logout' %}">ログアウト</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="web_title">
        <h3>チャートタイトルをクリックすると拡大します。 </h3>
    </div>
    <!-- Page Content -->
    <div class="wrapper wrapper-body row" id="mycharts">
        <div class="div1 col-lg-9">
            <div id="charts">

            </div>
        </div>
    <!-- {{app_entry}}
    {{config}}
    {{scripts}}
    {{renderer}} -->
        <div class="col-md-3 sidebar home">
            <div>
                <img class="borderImageTopLeft" src="../static/assets/border_home_sidebar.svg" />
                <p class="titleOfSidebar">メニュー</p>
                <img class="borderImageTopRight" src="../static/assets/border_home_sidebar.svg" />
            </div>
            <div class="sidebarListContainer">
                <div class="sidebarTitleList">
                    <ul>
                        <li>
                            <a class="chart_0">日経225ラージ先物外資系手口</a>
                        </li>
                        <li>
                            <a class='chart_1'>日経225ラージ先物クレディスイス手口</a>
                        </li>
                        <li>
                            <a class='chart_2'>日経225ラージ先物ゴールドマンサックス手口</a>
                        </li>
                        <li>
                            <a class='chart_3'>日経225ラージ先物モルガンスタンレー手口</a>
                        </li>
                        <li>
                            <a class='chart_4'>日経225ラージ先物国内ネット系証券手口</a>
                        </li>
                        <li>
                            <a class='chart_5'>日経225mini先物国内ネット系証券手口</a>
                        </li>
                        <li>
                            <a class='chart_6'>TOPIX先物外資系手口</a>
                        </li>
                        <li>
                            <a class='chart_7'>TOPIX先物クレディスイス手口</a>
                        </li>
                        <li>
                            <a class='chart_8'>TOPIX先物ゴールドマンサックス手口</a>
                        </li>
                        <li>
                            <a class='chart_9'>TOPIX先物モルガンスタンレー手口</a>
                        </li>
                        <li>
                            <a class='chart_10'>日経225オプションゴールドマンサックスのコール手口</a>
                        </li>
                        <li>
                            <a class='chart_11'>日経225オプションゴールドマンサックスのプット手口</a>
                        </li>
                        <li>
                            <a class='chart_12'>日経225オプションABNアムロのコール手口</a>
                        </li>
                        <li>
                            <a class='chart_13'>日経225オプションABNアムロのプット手口</a>
                        </li>
                        <li>
                            <a class='chart_14'>日経225オプションJPモルガンのコール手口</a>
                        </li>
                        <li>
                            <a class='chart_15'>日経225オプションJPモルガンのプット手口</a>
                        </li>
                        <li>
                            <a class='chart_16'>日経225オプションモルガンスタンレーのコール手口</a>
                        </li>
                        <li>
                            <a class='chart_17'>日経225オプションモルガンスタンレーのプット手口</a>
                        </li>
                        <li>
                            <a class='chart_18'>日経225オプション国内ネット系証券のコール手口</a>
                        </li>
                        <li>
                            <a class='chart_19'>日経225オプション国内ネット系証券のプット手口</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottomSectionBorder">
                <img class="borderImageBottomLeft" src='{% static "assets/border_home_sidebar.svg" %}' />
                <img class="borderImageBottomRight" src='{% static "assets/border_home_sidebar.svg" %}' />
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="footer">
        <img src='{% static "assets/header-logo.png" %}' />
        <p>Copyright © 2021 chart project</p>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal_large">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="mgTitle" style="color: black;">Graph</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body p-3" id="graphModalBody"
                    style="background: url(../static/assets/bg.png) no-repeat center center fixed;">
                    <div id='myDiv'>
                        <!-- Plotly chart will be drawn inside this DIV -->
                    </div>
                </div>

                <!-- Modal footer -->

            </div>
        </div>
    </div>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('.navbar').addClass('newClass');
            } else {
                $('.navbar').removeClass('newClass');
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".chart_0").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart0').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_1").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart1').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_2").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart2').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_3").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart3').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_4").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart4').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_5").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart5').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_6").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart6').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_7").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart7').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_8").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart8').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_9").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart9').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_10").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart10').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_11").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart11').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_12").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart12').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_13").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart13').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_14").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart14').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_15").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart15').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_16").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart16').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_17").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart17').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_18").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart18').offset().top - 100,
                }, "slow");
                return false;
            });
        });
        $(document).ready(function () {
            $(".chart_19").click(function () {
                $("html, body").animate({
                    scrollTop: $('#chart19').offset().top - 100,
                }, "slow");
                return false;
            });
        });

    </script>
    <script>
        data1 = {{data | safe}}
        data2 = {{main_data_last_ten | safe}}
        line = {{line | safe}}
        line1 = {{line1 | safe}}
        date = {{date_x | safe}}

        modal_title = "{{modal_title | safe}}"
        document.getElementById("charts").innerHTML = "";
        const array = []
        for (let i in data1){
            var newdiv = document.createElement("div");
            newdiv.setAttribute("id", `${i}`);
            document.body.appendChild(newdiv);

            var element = document.getElementById("charts");
            element.appendChild(newdiv);
            
            if(parseInt(i.charAt(i.length-1))<6){
                var trace2 = {
                    x: data1[i].data.Dates,
                    y: line,
                    yaxis: 'y2',
                    mode: 'lines',
                    type: 'scatter',
                    marker: {
                        size: 25,
                        color: 'red',
                    },
                    hovertemplate: '日経先物225' +
                        '<br>' +
                        '%{y:.2d}',
                    name: '',
                };
                var trace1 = {
                    type: 'bar',
                    x: data1[i].data.Dates,
                    y: data1[i].data.Diff,
                    marker: {
                        color: data1[i].data.color,
                    },
                    hovertemplate: '差引き' +
                        '<br>' +
                        '%{y:.2d}枚',
                    name: '',
                };

                var data = [trace1, trace2];

                var layout = {
                    title: {
                        text: data1[i].modal_title,
                        font: {
                            color: '#76caee',
                            textshadow: '#2cb8f5',
                            size: 20,
                        },
                        xref: 'paper',
                        x: 0,
                    },
                    width: 650,
                    height: 400,
                    margin: {
                        l: 90,
                        r: 50,
                        b: 100,
                        t: 70,
                        pad: 4
                    },
                    xaxis: {
                        tickangle: 60,
                        tickfont: {
                            size: 16,
                            color: 'lightskyblue',
                        }
                    },
                    yaxis: {
                        name: ' ',
                        tickfont: {
                            size: 18,
                            color: 'lightskyblue'
                        },
                        tickformat: ",d",
                    },
                    yaxis2: {
                        overlaying: 'y',
                        side: 'right',
                        name: ' ',
                        showgrid: false,
                        showticklabels: false,
                    },
                    hovermode: 'x',
                    showlegend: false,
                    hoverlabel: {
                        bordercolor: 'white',
                        font: {
                            size: 20,
                            color: 'white',
                        }
                    },
                };
                array.push(Plotly.newPlot(`${i}`, data, layout, {
                    displayModeBar: false
                }));
            }
            else if(parseInt(i.charAt(i.length-1))<10 && parseInt(i.charAt(i.length-1))>5){
                var trace2 = {
                    x: data1[i].data.Dates,
                    y: line1,
                    yaxis: 'y2',
                    mode: 'lines',
                    type: 'scatter',
                    marker: {
                        size: 25,
                        color: 'red',
                    },
                    hovertemplate: '日経先物225' +
                        '<br>' +
                        '%{y:.2d}',
                    name: '',
                };
                var trace1 = {
                    type: 'bar',
                    x: data1[i].data.Dates,
                    y: data1[i].data.Diff,
                    marker: {
                        color: data1[i].data.color,
                    },
                    hovertemplate: '差引き' +
                        '<br>' +
                        '%{y:.2d}枚',
                    name: '',
                };

                var data = [trace1, trace2];

                var layout = {
                    title: {
                        text: data1[i].modal_title,
                        font: {
                            color: '#76caee',
                            textshadow: '#2cb8f5',
                            size: 20,
                        },
                        xref: 'paper',
                        x: 0,
                    },
                    width: 650,
                    height: 400,
                    margin: {
                        l: 90,
                        r: 50,
                        b: 100,
                        t: 70,
                        pad: 4
                    },
                    xaxis: {
                        tickangle: 60,
                        tickfont: {
                            size: 16,
                            color: 'lightskyblue',
                        }
                    },
                    yaxis: {
                        name: ' ',
                        tickfont: {
                            size: 18,
                            color: 'lightskyblue'
                        },
                        tickformat: ",d",
                    },
                    yaxis2: {
                        overlaying: 'y',
                        side: 'right',
                        name: ' ',
                        showgrid: false,
                        showticklabels: false,
                    },
                    hovermode: 'x',
                    showlegend: false,
                    hoverlabel: {
                        bordercolor: 'white',
                        font: {
                            size: 20,
                            color: 'white',
                        }
                    },
                };
                array.push(Plotly.newPlot(`${i}`, data, layout, {
                    displayModeBar: false
                }));
            }
        }
        for (let i in data2){
            var newdiv = document.createElement("div");
            newdiv.setAttribute("id", `${i}`);
            document.body.appendChild(newdiv);

            var element = document.getElementById("charts");
            element.appendChild(newdiv);
            var trace1 = {
                x: data2[i].data.Date,
                y: data2[i].data.put,
                type: 'bar',
                marker: {
                    color: '#ff5252',
                },
                name: '売り',
            };

            var trace2 = {
                x: data2[i].data.Date,
                y: data2[i].data.call,
                type: 'bar',
                marker: {
                    color: '#636efa',
                },
                name: '買い',
            };

            var data = [trace1, trace2];

            var layout = {
                title: {
                    text: data2[i].modal_title,

                    font: {
                        color: '#76caee',
                        textshadow: '#2cb8f5',
                        size: 20,
                    },
                    xref: 'paper',
                    x: 0,
                },
                width: 650,
                height: 400,
                margin: {
                    l: 90,
                    r: 50,
                    b: 100,
                    t: 70,
                    pad: 4
                },
                barmode: 'relative',
                xaxis: {
                    tickangle: 60,
                    tickfont: {
                        size: 16,
                        color: 'lightskyblue',
                    },
                    // tickformat: ",d",
                },
                yaxis: {
                    tickfont: {
                        size: 18,
                        color: 'lightskyblue'
                    }
                },
                hovermode: 'x',
                showlegend: false,
                hoverlabel: {
                    bordercolor: 'white',
                    font: {
                        size: 20,
                        color: 'white',

                    }
                },
            };
            array.push(Plotly.newPlot(`${i}`, data, layout, {
                    displayModeBar: false
            }));
        }
        for (let i in array) {
            chart_function(i);
        }
        function chart_function(event, para1) {
            return para1
        }
    </script>
</body>

</html>
