<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
window.onload = function () {
  var dataPoints = [];
  
  var stockChart = new CanvasJS.StockChart("chartContainer",{
    title: {
        text: "StockChart Title"
      },
    navigator:{
        enabled:false,
    },
    rangeSelector:{
        enabled:false,
    },
     axisX:{
   interval: 25,
   intervalType: "days",
   minimum:new Date(2020,11,11)
 },
    charts: [{      
      data: [{        
        type: "column", //Change it to "spline", "area", "column"
        dataPoints : dataPoints
      }],
    }]
  }); 

  $.get("http://akatsuki-opvdata.com:8000/getChart2Data", function(data) {  
    for(var i = 0; i < data.length; i++){
      dataPoints.push({x: new Date(data[i].x), y: Number(data[i].volume),color:data[i].stroke});
    }
    
    stockChart.render();
  });
}
</script>
</head>
<body>
        <div id="chartContainer" style="height: 400px; width: 50%;"></div>
      
</body>
</html>