<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="日経225先物、オプションビジュアルデータ">
    <meta name="author" content="Akatsuki Investment Advisor">
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon" />
    <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>日経225先物、オプションビジュアルデータ</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/main.css' %}" rel="stylesheet">
    <style>
        nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.navbar-fixed-top.newClass {
            background: url(../static/assets/bg.png) center center / cover no-repeat fixed;
        }

        a.nav-link:hover {
            text-decoration: underline;
            color: #2cb8f5 !important;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">
        <div class="main-header-container wrapper navigationBorder">
            <a class="navbar-brand" href="/">
                <img class="logoImg" src="{% static 'assets/header-logo.png' %}" />
            </a>
            <p class="headingText">日経225先物 オプションビジュアルデータ</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">最新チャート</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'archive' %}">アーカイブス</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'company_profile' %}">会社概要</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'risk_description' %}">リスクに関する表記</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'disclaimer' %}">ディスクレーマー</a>
                    </li>
                    <li class="nav-item ">
                        <button class="btn btn-outline-info"><a href="{% url 'logout' %}">ログアウト</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="risk-container">
            <div>
                <img class="borderImageTopLeft" src="{% static 'assets/border_home_sidebar.svg' %}" />
                <img class="tileImage" src="{% static 'assets/risk_title.png' %}" />
                <img class="borderImageTopRight" src="{% static 'assets/border_home_sidebar.svg' %}" />
            </div>
            <div class="risk">
                <ul>
                    <li>
                        <p class="heading">金融商品取引業者であることを証する事項</p>
                        <p>商号　株式会社暁投資顧問</p>
                        <p>当社は金融商品取引業者（投資助言・代理業者）です。登録番号 関東財務局長（金商）第２６５４号</p>
                    </li>
                    <li>
                        <p class="heading">手数料等</p>
                        <table>
                            <tr>
                                <td>
                                    <p>契約期間1ヵ月間</p>
                                </td>
                                <td>
                                    <p>20,000円（税込）</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>契約期間3ヵ月間</p>
                                </td>
                                <td>
                                    <p>57,000円（税込）</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>契約期間6ヵ月間</p>
                                </td>
                                <td>
                                    <p>90,000円（税込）</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>オプションライトコース &nbsp;&nbsp;&nbsp;</p>
                                </td>
                                <td>
                                    <p>契約期間 1ヶ月間 9800円（税込）
                                        （初回の方/初月無料）※過去入会履歴がある方は対象外となり初月より費用が発生致します。</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>あかつきコース</p>
                                </td>
                                <td>
                                    <p>契約期間 1ヶ月間 9800円（税込）
                                        （初回の方/初月無料）※過去入会履歴がある方は対象外となり初月より費用が発生致します。</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>成果報酬コース</p>
                                </td>
                                <td>
                                    <p>詳しくは成功報酬コースの <a target="_blank"
                                            href="https://akatsuki-toushi.com/wp/wp-content/themes/official-themes/images/achievement.pdf">契約締結前書面</a>
                                        をご確認下さい。</p>
                                </td>
                            </tr>
                        </table>
                        <p class="smallText">※成果報酬コースを除き、他全て固定報酬であり入会金や成功報酬はありません。</p>
                    </li>
                    <li class="spaceing">
                        <p class="heading">指標変動により損失が生じるおそれ</p>
                        <p>株式等は株価（価格）の変動等により損失が生じるおそれがあります。
                            上場投資信託（ＥＴＦ）は連動対象となっている指数や指標等の変動等により、指標連動証券（ＥＴＮ）は連動対象となっている指数や指標等の変動、発行体となる金融機関の信用力悪化等により、損失が生じるおそれがあります。
                        </p>
                        <p>信用取引は取引の対象となっている株式等の株価（価格）の変動等により損失が生じるおそれがあります。信用取引は差し入れた委託保証金を上回る金額の取引をおこなうことができ、大きな損失が発生する可能性があります。その損失額は差し入れた委託保証金の額を上回るおそれがあります。
                        </p>
                        <p>外国株式等は、株価（価格）の変動等により損失が生じるおそれがあります。また、為替相場の変動等により損失（為替差損）が生じるおそれがあります。株価指数連動型上場投資信託（ＥＴＦ）は、連動を目指す株価指数等の変動等により損失が生じるおそれがあります。
                        </p>
                        <p>株価指数先物の価格は、対象となっている株価指数の変動等により上下するため、これにより損失が生じるおそれがあります。また、株価指数先物取引は少額の委託証拠金でその委託証拠金の額を上回る額の取引をおこなうことができ、大きな損失が発生する可能性があります。その損失額は、差し入れた委託証拠金を上回るおそれがあります。
                        </p>
                        <p>株価指数オプションの価格は、対象となっている株価指数の変動等により上下するため、これにより損失が生じるおそれがあります。オプションを行使できる期間には制限があります。また、株価指数オプションの市場価格は、現実の株価指数の変動等に連動するとは限りません。価格の変動率は現実の株価指数の変動率に比べて大きくなる傾向があり、場合によっては大きな損失が発生する可能性があります。買方は、期日までに権利行使または転売をおこなわない場合には、権利は消滅し、買方は投資資金の全額を失うことになります。売方は、市場価格が予想とは反対の方向に変化したときの損失が限定されていません。また、株価指数オプション取引が成立したときは、証拠金を差し入れまたは預託しなければなりません。その後、相場の変動により証拠金の額に不足額が発生した場合には、証拠金の追加差入れまたは追加預託が必要となります。所定の時限までに不足額を差し入れない場合等には、建玉の一部または全部を決済・処分させていただく場合もあります。この場合、その決済で生じた実現損失について責任を負う必要があります。売方は、権利行使の割当てを受けた際には必ずこれに応じる義務があり、権利行使価格と最終清算指数（ＳＱ値）の差額を支払う必要があります。
                        </p>
                        <p>外国為替証拠金取引（ＦＸ）は、取引通貨の価格またはスワップポイントの変動、およびスワップポイントは支払いとなる場合があるため、売り付けた際の精算金額が買い付けた際の精算金額を下回る可能性があり、損失が生じるおそれがあります。また、外国為替証拠金取引（ＦＸ）は少額の委託証拠金でその委託証拠金の額を上回る額の取引をおこなうことができ、大きな損失が発生する可能性があります。その損失額は、差し入れた委託証拠金を上回るおそれがあります。
                        </p>
                        <p>ＣＦＤは、対象となる株価指数、ＥＴＦの価格の変動、または金利、通貨、経済指標、政治情勢の変化等、さまざまな要因により取引価格が変動し、損失が生じるおそれがあります。また、ＣＦＤは少額の委託証拠金でその委託証拠金の額を上回る額の取引をおこなうことができ、大きな損失が発生する可能性があります。
                            その損失額は、差し入れた委託証拠金を上回るおそれがあります。 株価指数先物を参照原資産とするＣＦＤにはそれぞれ限月が定められており、最終決済期限があります。</p>
                    </li>
                    <li>
                        <p class="heading">その他重要事項</p>
                        <p>当社は、一般社団法人日本投資顧問業協会の会員であり、会員名簿を協会事務局で自由にご覧になれます。また、管轄の関東財務局で、当社の登録簿を自由にご覧になれます。</p>
                    </li>
                    <li>
                        <p class="heading">十分読むべき旨</p>
                        <p>ご契約の締結前に、当社よりお渡しする「契約締結前交付書面」の内容を十分にお読みください。</p>
                    </li>
                    <li>
                        <p class="heading">有価証券等にかかるリスク</p>
                        <p>有価証券は、価格の変動により、投資元本を割り込み、場合によってはその全額を失うおそれがあります。また、株式発行者の経営・財務状況の変化および、それらに関する外部評価の変化などにより、投資元本を割り込む恐れはあり、流動性リスクが伴います。信用取引や先物取引においては、委託した証拠金を担保として、証拠金を上回る取引を行うことが御座いますので、上記の要因により生じた損失の額が証拠金の額を上回る（元本超過損が生じる）事があります。
                        </p>
                    </li>
                    <li class="spaceing">
                        <p class="heading">
                            苦情処理・紛争解決体制
                        </p>
                        <p style="font-weight: bold;">【当社の苦情処理措置について】</p>
                        <p>１）当社は、「苦情処理規程」を定め、お客様等からの苦情等のお申出に対して、真摯に、 また迅速に対応し、お客様のご理解をいただくよう努めています。<br />
                            当社の苦情等の申出先は、下記の苦情等の申出先のとおりです。また、苦情解決に向け ての標準的な流れは次のとおりです。<br />
                            ■当社への連絡方法及び苦情等の申出先<br />
                            以下の電話番号、メールアドレスにご連絡下さい。
                        </p>
                        <p>
                            電話番号 048-999-6892 <br />
                            メールアドレス info@akatsuki-toushi.com<br />
                            ① お客様からの苦情等の受付<br />
                            ② 社内担当者からの事情聴取と解決案の検討<br />
                            ③ 解決案のご提示・解決
                        </p>
                        <p>
                            ２）当社は、上記により苦情の解決を図るほかに、次の団体を通じて苦情の解決を図る
                            こととしています。この団体は、当社が加入しています一般社団法人日本投資顧問業協会から苦情の解決についての業務を受託しており、お客様からの苦情を受け付けています。
                            この団体をご利用になる場合には、次の連絡先までお申出下さい。<br />
                            特定非営利活動法人証券・金融商品あっせん相談センター<br />
                            住 所 〒103-0025 東京都中央区日本橋茅場町2-1-1 第二証券会館<br />
                            電 話 ０0120-64-5005（フリーダイヤル）<br />
                            （月～金／9：00～17：00祝日等を除く）<br />
                            同センターが行う苦情解決の標準的な流れは次のとおりです。詳しくは、同センターにご照会下さい。<br /><br />
                            ① お客様からの苦情の申立<br />
                            ② 会員業者への苦情の取次<br />
                            ③ お客様と会員業者との話合いと解決<br />
                        </p>
                        <p style="font-weight: bold;">【当社の紛争解決措置について】</p>
                        <p>当社は、上記の特定非営利活動法人証券・金融商品あっせん相談センターが行うあっせん
                            を通じて紛争の解決を図ることとしています。同センターは、当社が加入しています一般社団法人日本投資顧問業協会からあっせんについての業務を受託しており、あっせん委員
                            によりあっせん手続が行われます。当社との紛争の解決のため、同センターをご利用になる場合は、上記の連絡先にお申出下さい。
                            同センターが行うあっせん手続の標準的な流れは次のとおりです。詳しくは、同センター にご照会下さい。<br /><br />
                            ① お客様からのあっせん申立書の提出<br />
                            ② あっせん申立書受理とあっせん委員の選任<br />
                            ③ お客様からのあっせん申立金の納入<br />
                            ④ あっせん委員によるお客様、会員業者への事情聴取<br />
                            ⑤ あっせん案の提示、受諾</p>
                    </li>
                </ul>
            </div>
            <div class="bottomSectionBorder">
                <img class="borderImageBottomLeft" src="{% static 'assets/border_home_sidebar.svg' %}" />
                <img class="borderImageBottomRight" src="{% static 'assets/border_home_sidebar.svg' %}" />
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="footer">
        <img src="{% static 'assets/header-logo.png' %}" />
        <p>Copyright © 2021 chart project</p>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="./static/vendor/jquery/jquery.min.js"></script>
    <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/main.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('.navbar').addClass('newClass');
            } else {
                $('.navbar').removeClass('newClass');
            }
        });
    </script>
</body>

</html>